.input__container{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 25px;
}
.input__element{
    width: 100%;
    border: 0;
    outline: unset;
    border-bottom: 1.5px solid black;
    background-color: gainsboro;
    padding: 2% 5% 2% 5%;
}
.input__element:focus{
    border-bottom: 3px solid blue;
}