.select__element{
    background-color: #0563af;
    color: white;
    padding: 1% 10% 1% 5%;
    width: 100%;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
}
.select__label{
    margin-bottom: 5px;
}